@import url("//fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("//fonts.googleapis.com/css?family=Fugaz+One");
.bb-bookblock {
  width: 400px;
  height: 300px;
  position: relative;
  background: #fff;
  z-index: 100;
}

.bb-page {
  width: 50%;
  height: 100%;
  left: 50%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.bb-page > div,
.bb-outer,
.bb-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.bb-content {
  background: #fff;
}

.bb-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.bb-overlay, .bb-outer {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bb-page > div {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bb-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.bb-outer {
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.bb-overlay,
.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1000;
}

.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.bb-bookblock > div.bb-page:first-child,
.bb-bookblock > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.js .bb-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #fff;
}

.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}

.jspVerticalBar {
  position: absolute;
  top: 0px;
  right: 1%;
  width: 9px;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
}

.jspContainer:hover .jspVerticalBar {
  opacity: 1;
}

.jspCap {
  display: block;
  background: #fff;
}

.jspVerticalBar .jspCap {
  height: 40px;
}

.jspTrack {
  background: rgba(242, 242, 242, 0.5);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), inset 1px 0 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
}

.jspDrag {
  background: #fff;
  position: relative;
  box-shadow: inset -1px 0 8px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.jspCorner {
  background: #fff;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

a {
  color: #555;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #000;
}

.content h2 {
  font-family: 'Fugaz One', cursive;
  font-size: 3em;
  padding: 0 0 10px;
  color: #333;
  margin: 0 1% 40px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.02);
  text-shadow: 0 0 5px #ecf0f1;
}

.no-js .content h2 {
  padding: 40px 1% 20px;
}

.content p {
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 300;
  padding: 5px 8%;
  text-align: justify;
}

html {
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #fff;
  font-weight: 400;
  font-size: 100%;
  color: #333;
  height: 100%;
}
body .js {
  overflow: hidden;
}

.list-simple {
  list-style: none;
  padding-left: 9rem;
}

.center {
  text-align: center;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  left: 0px;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideRight {
  left: 240px;
}

.no-js .container {
  padding-left: 240px;
}

.menu-panel {
  background: #f1103a;
  width: 240px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.js .menu-panel {
  position: absolute;
  left: -240px;
}

.menu-panel h3 {
  font-size: 1.8em;
  padding: 20px;
  font-weight: 300;
  color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.menu-toc {
  list-style: none;
}

.menu-toc li a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  line-height: 3.5;
  padding: 0 20px;
  cursor: pointer;
  background: #f1103a;
  border-bottom: 1px solid #dd1338;
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a {
  background: #dd1338;
}

.menu-panel div {
  margin-top: 20px;
}

.menu-panel div a {
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1;
  padding: 5px 20px;
  display: block;
  border: none;
  color: #bc0b0b;
  letter-spacing: 1px;
  font-weight: 800;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.menu-panel div a:hover {
  background: inherit;
  color: #fff;
  text-shadow: none;
}

.bb-custom-wrapper nav {
  top: 20px;
  left: 60px;
  position: absolute;
  z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  background: #f1103a;
  border-radius: 50%;
  color: #fff;
  line-height: 30px;
  text-align: center;
  speak: none;
  font-weight: bold;
  cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
  background: #000;
}

.bb-custom-wrapper nav span:last-child {
  left: 40px;
}

.menu-button {
  z-index: 1000;
  left: 20px;
  top: 20px;
  text-indent: -9000px;
}

.menu-button:after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background: #fff;
  top: 50%;
  margin-top: -1px;
  left: 25%;
  box-shadow: 0 -4px #fff, 0 4px #fff;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
  display: none;
}

.js .content {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  bottom: 50px;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
  padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 100;
  pointer-events: none;
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
}

.js .content:after {
  top: auto;
  bottom: 0;
  background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
}

.row:after, .col:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.row {
  margin-bottom: 2%;
}

.bottom {
  margin-bottom: 0;
}

.col {
  display: block;
  float: left;
  width: 100%;
  margin-right: 2%;
}

.col:last-child {
  margin-right: 0;
}

.col img {
  max-width: 100%;
  height: auto;
}

.span-1 {
  width: 6.5%;
}

.span-2 {
  width: 15.0%;
}

.span-3 {
  width: 23.5%;
}

.span-4 {
  width: 32.0%;
}

.span-5 {
  width: 40.5%;
}

.span-6 {
  width: 49.0%;
}

.span-7 {
  width: 57.5%;
}

.span-8 {
  width: 66.0%;
}

.span-9 {
  width: 74.5%;
}

.span-10 {
  width: 83.0%;
}

.span-11 {
  width: 91.5%;
}

.span-12 {
  width: 100%;
}

/* 

	Offsets

*/
.offset-1 {
  margin-left: 6.5%;
}

.offset-2 {
  margin-left: 17.0%;
}

.offset-3 {
  margin-left: 25.5%;
}

.offset-4 {
  margin-left: 34.0%;
}

.offset-5 {
  margin-left: 42.5%;
}

.offset-6 {
  margin-left: 51.0%;
}

.offset-7 {
  margin-left: 59.5%;
}

.offset-8 {
  margin-left: 68.0%;
}

.offset-9 {
  margin-left: 76.5%;
}

.offset-10 {
  margin-left: 85.0%;
}

.offset-11 {
  margin-left: 93.5%;
}

.notification {
  text-align: center;
}
.notification .success {
  color: green;
}
.notification .error {
  color: red;
}

.cbp-mc-form {
  position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before,
.cbp-mc-form:after {
  content: " ";
  display: table;
}

.cbp-mc-form:after {
  clear: both;
}

.cbp-mc-column {
  width: 50%;
  padding: 10px 30px;
  float: left;
}

.cbp-mc-form label {
  display: block;
  padding: 40px 5px 5px 2px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.4em;
  padding: 5px 10px;
  color: #000;
  display: block;
  width: 100%;
  background: transparent;
}

.cbp-mc-form input, .cbp-mc-form textarea, .cbp-mc-form select {
  transition: 1s all;
  border: 3px solid #000;
}

.cbp-mc-form textarea {
  min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
  outline: none;
  border: 3px solid #f1103a;
}

.cbp-mc-form select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000;
  font-style: italic;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  font-style: italic;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  font-style: italic;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000;
  font-style: italic;
}

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
  background: #f1103a;
  border: none;
  color: #fff;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  border-radius: 2px;
  letter-spacing: 1px;
  transition: 1s all;
}

.cbp-mc-form input.cbp-mc-submit:hover {
  background: #000;
}

@media screen and (max-width: 70em) {
  .cbp-mc-column {
    width: 50%;
  }

  .cbp-mc-column:nth-child(3) {
    width: 100%;
  }
}
@media screen and (max-width: 48em) {
  .cbp-mc-column {
    width: 100%;
    padding: 10px;
  }
}
/*

    Tablet

*/
@media only screen and (max-width: 768px) {
  .col {
    margin-left: 0;
  }

  .row {
    margin: 0;
  }

  .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
    width: 100%;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 800px) {
  .no-js .menu-panel {
    display: none;
  }

  .no-js .container {
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .menu-panel,
  .content {
    font-size: 75%;
  }

  .list-simple {
    padding-left: 0;
  }
}
