// load external font from google
@import url("//fonts.googleapis.com/css?family=Lato:300,400,700");

//links

a {
	color: #555;
	text-decoration: none;
	outline: none;
	&:hover {
	color: #000;
}
}

.content  {
	h2{
	font-weight: 700;
	font-size: 4em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% 40px;
	text-align: center;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 5px #fff;
	}
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
	text-align: justify;
}

